@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <style>
   
    </style>
</head>
<body>
<div id="WRAPPER">
    <div id="HEADER">
        <h2>台股相關歷史資料</h2>
    </div>

    <div id="MAIN_NAV">
        <ul>
            <li><a href="http://tiomo.somee.com/TIOMO">個股盤後資料</a></li>
            <li><a href="http://tiomo.somee.com/Contribute">個股財務資料</a></li>
            <li><a href="http://tiomo.somee.com/Contribute">期貨盤後資料</a></li>
            <li><a href="http://tiomo.somee.com/About">About</a></li>
        </ul>
    </div> <!--主選單 --> 
    <div id="CONTENT">
    <h2>Under  Construction...</h2>
       還在建構中...
    </div>
    <p>
    <div id="FOOTER">
        <!-- Site Meter -->
        <script type="text/javascript" src="http://s30.sitemeter.com/js/counter.js?site=s30TIOMO">
        </script>
        <noscript>
        <a href="http://s30.sitemeter.com/stats.asp?site=s30TIOMO" target="_top">
        <img src="http://s30.sitemeter.com/meter.asp?site=s30TIOMO" alt="Site Meter" border="0"/></a>
        </noscript>
    <!-- Copyright (c)2009 Site Meter -->
    </div>


    </p> 
</div>
</body>
</html>
